# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyc

# Ignore environment files
.env
.venv
env/
venv/
ENV/

# Ignore build files
build/
dist/
*.egg-info/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore other unnecessary files
*.log
*.tmp
.DS_Store
Thumbs.db

*.txt

*.csv